Last article, I gave my basic reasons for pursuing a research project into the changing demographics of the slave trade in the Americas. This was very broad, and very vague. However, now I am about to plunge into locating the necessary data to reconstruct the history I wish to reconstruct. And already I am running into technical issues. 

The archive I want to use was created 22 years ago, back when Microsoft was the preeminent provider of consumer computer products. Everything is saved as a .dbf database file, with .sav, .sps and other files used to port it to an SPSS application. I had never heard of SPSS before this project. It's a proprietary system currently owned by IBM and used heavily in the GIS community. Opening this type of layered database file in a modern environment is complicated. Microsoft has a deprecated product, Visual FoxPro, and of course there are paid products. However, I want to use a modern Jupyter notebook with Python, pandas and other standard data science tools.

I turned to the great oracle, Google, to find out how to open a .dbf file in Jupyter. There is a fairly well known package, PySal, that seemed ideal. Unfortunately, I am using Python 3.8. Pysal is dependent on a package called Rasterio, which in turn is dependent on a set of C libraries called GDAL. And here is where I ran into issues. GDAL does not, for some reason, edit its path environment variables on a Windows machine with Python 3.8. There are open issues with several development teams, but all are quite recent (the past year or so) and the issue is not yet fixed. While I'd love to use a Linux machine, at the moment I'm stuck with Windows.

So I am going to have to sacrifice the convenience of Pysal and turn to a more hacked together solution. Python comes with a dbfread library. It is going to take some work to get dbfread into Pandas, but hopefully not too much.

In [108]:
import pandas as pd
from dbfread import DBF

# Need this later on for data cleaning
import numpy as np
import datetime

# Chart visualization
import matplotlib.pyplot as plt

Above, I imported Pandas. Pandas is perhaps the most popular data science package for Python and is extremely useful. I've used some of its competitors, especially Turi, and Pandas is both better documented and more supported. It does have some strange quirks, such as its odd use of zero indexing, but overall is a fun package to use.

Notice I'm also using dbfread. I'm using a script form the documentation at https://dbfread.readthedocs.io/en/latest/exporting_data.html. Please be nice to me processor gods, I just want a dataframe.

In [2]:
dbf = DBF('SLAVE.DBF')

Let's try to convert the .dbf database into a Pandas dataframe. I'm going to use Pandass' inbuilt DataFrame function because it will continue to be updated with Pandas' development. It is important to note that dbfread is only a somewhat maintained library. After parsing the source code, I noticed a lot of development is still needed. This would come back to bite me as I worked with this project. Per dbfread's documentation, we also need to pass an iterable form of the dbf file we created above. Below is the single line of code that nearly destroyed my sanity.

In [3]:
df = pd.DataFrame(iter(dbf))

Originally, this errored. And it errored in the most bizarre way. It was throwing errors about float numbers and integers with full stops. I was very confused and google didn't help much. In fact, most people just ended up editing their data file. I do not have the ability to open a dbf file, nor did I really want to open a file, edit it however many times, and close it again. So, I opened the source code of dbfread to the line that triggered the exception. Below I have a copy of the exception, lovingly recreated for you after I fixed it. Notice all the nonsense about integers and floats and b'.'.

---------------------------------------------------------------------------
ValueError                                Traceback (most recent call last)
c:\users\casti\appdata\local\programs\python\python38\lib\site-packages\dbfread\field_parser.py in parseN(self, field, data)
    179         try:
--> 180             return int(data)
    181         except ValueError:

ValueError: invalid literal for int() with base 10: b'.'

***Edited for clarity***

c:\users\casti\appdata\local\programs\python\python38\lib\site-packages\dbfread\field_parser.py in parseN(self, field, data)
    184             else:
    185                 # Account for , in numeric fields
--> 186                 return float(data.replace(b',',b'.'))
    187                 '''
    188                 if isinstance(data, float) or len(data) >= 2:

ValueError: could not convert string to float: b'.'

As I said, googling this error only turned up more people with the same issue. Since I couldn't use the package that everyone else seemed to prefer (PySal!) I decided to wade into the source code. Perhaps somewhere in the field_parser.py file I'd find a clue to fixing my code.

I didn't. Instead, I found the reason the code errored in the first place. Here's some code taken direcly out of a 

    def parseN(self, field, data):
        """
        Parse numeric field (N)

        Returns int, float or None if the field is empty.
        """
        
        # In some files * is used for padding.
        data = data.strip().strip(b'*')
        try:
            return int(data)
        except ValueError:
            if not data.strip():
                return None
            else:
                # Account for , in numeric fields
                return float(data.replace(b',',b'.'))
                
Folks, that was the entirety of the exception handling. The default case was, simply, to replace all commas with full stops and then try to convert whatever monstrosity resulted into a float. It is understandable Python didn't really want to do this. By this logic, if the number 1,234.56 was passed to the parseN method, the result would be 1.234.56. This is, obviously, neither a float nor an integer. It is an unholy creation of man. I decided to fix this.

First, I decided the final case should be the float NaN. NaN stands for, in the surreally linear logic of computer scientists, *N*ot *A* *N*umber. Get it? NaN...Not A Number. This meant that, if the code was absolutely sure we were dealing with numbers, but it kept mangling whatever it was passed, it should just insert the Pythonic equivalent of a shrug. This is probably not the best design, but short of refactoring the whole dbfreads library I thought it would work as a stopgap. The code now read:

    def parseN(self, field, data):
        """
        Parse numeric field (N)

        Returns int, float or None if the field is empty.
        """
        
        # In some files * is used for padding.
        
        data = data.strip().strip(b'*')
        try:
            return int(data)
        except ValueError:
            if not data.strip():
                return None
            else:
                # Account for , in numeric fields
                if isinstance(data, float):
                    return float(data.replace(b',', b'.')
                return float(b"NaN")
                
I don't actually know why the function needs to return a binary code. Perhaps there's a calling function somewhere in dbfreads that only accepts binary. Maybe it's a powermove on the part of the developers, who wanted to remind the computer it only speaks binary. Nonetheless, I am now returning the binary version of the float number "NaN".

This didn't quite fix my problem. Instead, I still kept getting that error about the binary full stop from earlier. It had moved on a few lines (I was inserting counters at one point to trace where in the file there were errors) but I was still having problems with this function. So I started thinking about when a number might *look* like a float but was, in fact, never meant to be such a thing. Suppose there was a field that said *0,*. This would obviously be corruption or entry error, but hey data is messy. If you called this parseN function on *0,*, it wouldn't convert to an integer, it *would* raise an exception, but would not trigger the replace method. Instead, it would turn into a float "NaN". I didn't want that data loss, even if I don't understand the data. So, I should really build a trap for such pieces of data.


    def parseN(self, field, data):
        """
        Parse numeric field (N)

        Returns int, float or None if the field is empty.
        """
        
        # In some files * is used for padding.
        data = data.strip().strip(b'*')

        try:
            return int(data)
        except ValueError:
            if not data.strip():
                return None
            else:
                # Account for , in numeric fields

                if len(data) >= 2:
                    return float(data.replace(b',',b'.'))
                return float(b'NaN')
                
See my clever little trap? I'm checking to see if the length of the data is over 2. Why? Well, I've already checked if the number is a float. If the data was *0,0* it would already be caught. But the number *1,500.0* still won't be caught. I don't want numbers that are only 1 digit long. They will easily convert to integers, unless the program is trying to pass *','* or some other crazy character as a number. I don't know enought about the program to dig through why it is trying to pass those characters, so I weed them out with the length check. Now, *1,500.0* will get the floating point conversion treatment it deserves.

I also had to make one other little edit. There was a similar problem with a datetime method. However, in this case it looks like the originaly developer forgot to add a .strip() method they clearly meant to. This is because, in the comments, they clearly indicate they intend on testing for both empty spaces *and* spaces full of zeros for a datetime column. Nonetheless, they only strip off the zeros, not the spaces. I added a clause looking for the empty spaces and now it works.

This is the end of the post. There's still a lot of work to do to make this data accessible and accurate enough for any sort of valid historical conclusions to be drawn. However, it is now loaded, the dbfread source code has been strengthened, and it's time to take a break. Somewhere, distantly, I hear a martini glass clinking.

OK, picking up where I left off. It's time to clean this data! To see what I mean, observe the following code:

In [4]:
df.dtypes

DOCDATE        object
YEAR            int64
DOCNO          object
NOTARY         object
CODER         float64
               ...
ARRIVEDATE     object
FROM           object
UNBAPT        float64
VIA           float64
COMMENTS       object
Length: 114, dtype: object

While there are 114 columns to be concerned about, we need to start at the very beginning. The column DOCDATE should be a datetime object, but notice that Pandas currently only knows that this column is an object. The object dtype indicates some form of string, or a mixed type column. This tricky little clause means we are uncertain if all but one DOCDATE entries is a proper datetime object, and one is broken, or if there is a scattering of non-datetime objects.

In [5]:
df['DOCDATE'] = pd.to_datetime(df['DOCDATE'])

In [6]:
df.dtypes

DOCDATE       datetime64[ns]
YEAR                   int64
DOCNO                 object
NOTARY                object
CODER                float64
                   ...
ARRIVEDATE            object
FROM                  object
UNBAPT               float64
VIA                  float64
COMMENTS              object
Length: 114, dtype: object

Surprisingly, I was able to simply convert the DOCDATE column directly to the datetime object in Python. This indicates the DOCDATE column was, in fact, full of dates and not something else. We can continue on like this for all 114 columns.

I'm about to do something a bit controversial. Essentially, I'm converting my YEAR column, but to an integer and not a date. My reason for this is pretty simple. I don't actually want to use the year column AS a date. Dates are for things like machine output and other artifacts from the Information Age. I'm interested in a simple number, namely the number of years in the Common Era. I may have to manipulate this data in ways that is more useful as an integer, such as finding how many years elapsed between a slaves sale and resale, etc. While there are probably functions for all of this work, for the sake of clarity I'm converting YEAR into an integer and not a date.

In [7]:
df['YEAR'].astype('int')

0         1719
1         1719
2         1719
3         1719
4         1719
          ...
100661    1820
100662    1820
100663    1820
100664    1820
100665    1820
Name: YEAR, Length: 100666, dtype: int32

As fun as it might be to continually change each of these fields by hand, I'm the lazy sort of data analyst who believes computers were invented so I could lounge in the pool. It's time to put some good old Python into use. I know there are 114 columns. I know that I want *most* of those columns to be strings. This is because there is a lot of data that is best understood as text. Columns like NOTARY and FROM are clearly meant to be a personal name and a placename. However, there are a few that should *NOT* be strings. The column ARRIVEDATE, for instance, should always be a datetime. 
Other columns should be mostly an integer or float, except for some sort of value indicating an unknown status. The column AGE, for instance, should never be a string unless the answer is 'UNKNOWN'. While the practice of owning humans as chattel was dehumanizing in the extreme, the resale of humans did create a need for strict record keeping. Most slave ages would be known to a relatively sure degree, if they were born on a plantation. A slave newly trafficked, or perhaps resold from a more chaotic or fraudulent area, would have an unknown age. So what I need to do now is find all of the columns that *look* like they should be non-strings. If their current pandas dtype is 'object', this indicates mixed types such as a number and a string, a float and an int, or some other form of mixed up data.
So, first, I need to identify which columns have mixed types. Below I wrote some code to iterate over the dataframe, select all of the object dtypes, and return a list. I know in introductory programming courses I hated the section on list comprehensions, because they seemed to be confusing, but in a Jupyter notebook like this it really is quite handy to have all of the code on a single line.

In [8]:
object_col = [col for col in df.columns if df[col].dtype == 'object']

Now that I know precisely what columns have an object dtype, I need to inspect the list manually. I don't know of an automatic way to figure out what columns shouldn't have strings. Perhaps when the singularity comes, this will be a side effect. Of course, it doesn't seem like Skynet or whatever Facebook means by Meta will care much for human history. Though they might quite like the idea of studying slavery as a how-to manual...

So, should the Singularity come, I'm putting in my bid as Advisor to the Singularity on Slavery. In the meantime, I'm going to try to continue rehumanizing people who were dehumanized. And fighting the good fight against corrupt data. And drink as many ciders as possible.

To return to the point, let's see what columns might potentially need our attention.

In [9]:
object_col

['DOCNO',
 'NOTARY',
 'DATEINV',
 'DATESALE',
 'PARISH',
 'ESTATE_OF',
 'FIRSTNAME',
 'ESTATE',
 'SELLER',
 'FIRST1',
 'BUYER',
 'FIRST2',
 'NAMEXPLAIN',
 'NAME',
 'SKILLS',
 'CHARACTER',
 'SICK',
 'SPELL',
 'GROUPMEMB',
 'INVCUR',
 'SALECUR',
 'FAMILY',
 'SPNATMOM',
 'MATENAME',
 'SPELNAMATE',
 'SPNADAD',
 'SPNAGM',
 'SPNAGRPA',
 'CAPTAIN',
 'SHIP',
 'ARRIVEDATE',
 'FROM',
 'COMMENTS']

From this list, I have identified only a few columns that clearly require an integer, float or date. 'DOCNO' is, I'm fairly certain, going to be a numeric code for the documents. It is also possible it is an alphanumeric code, but given the small(ish) number of documents and age of the project I suspect it is numeric. However, ARRIVEDATE, AGE, DATESALE and DATEINV all seem like they should not be strings. There are a few columns that I'm just not sure about. What is SALECUR? Or INVCUR? Since I don't know, I'll have to inspect the columns manually after I'm done this work. But for now, it is import to get as many columns as possible finished.
Below I will make a list of columns I don't think are strings. I will call this, creatively, not_strings. I can add to it later using list methods, and delete if I'm mistaken. I am also using a list comprehension to pull out the not_strings entries from the object_col list. I will call this new list, again creatively, strings.

In [10]:
not_strings = ['DOCNO','ARRIVEDATE','AGE','DATESALE','DATEINV']
strings = [entry for entry in object_col if entry not in not_strings]

Now that I have all of these lists floating around, it is time to actually convert things to strings. It took me awhile to figure out the current method to do this. Pandas was created as a numerical and scientific computing library. It is only recently that a better string dtype has been added. Using methods that seem obvious (to_string()) does not change the dtype. Instead, you need to use a very specific set of formats. Scouring the internet, again, is not very helpful. The documentation is your best source, look at it here" https://pandas.pydata.org/pandas-docs/stable/user_guide/text.html. Although the string datatype was first implemented in Pandas 1.0.0, there are StackOverflow posts listing incorrect methods for this conversion. ONLY use the ones in the documentation.

In [11]:
def cols_to_strings(strings):
    '''
    Takes a list of columns that should be converted to string type and converts them all.
    '''
    for entries in strings: #iterate over my list of strings, not the entire Dataframe
        df[entries] = df[entries].astype('string')  

cols_to_strings(strings)

In [12]:
# Test to make sure I've successfully added strings
df.dtypes

DOCDATE       datetime64[ns]
YEAR                   int64
DOCNO                 object
NOTARY                string
CODER                float64
                   ...
ARRIVEDATE            object
FROM                  string
UNBAPT               float64
VIA                  float64
COMMENTS              string
Length: 114, dtype: object

As you can see, I have successfully changed the vast majority of the columns to strings. However, I'm not done yet. What about those five columns with mixed types?

In [13]:
not_strings

['DOCNO', 'ARRIVEDATE', 'AGE', 'DATESALE', 'DATEINV']

Yeah, those. Let's fix those up. I suspect DOCNO should be a set of integers, but I'm not sure.

In [14]:
df['DOCNO']

0
1
2
3
4
           ...
100661      3754
100662       223
100663       224
100664       363
100665       363
Name: DOCNO, Length: 100666, dtype: object

Looks pretty integery to me. Let's try to convert.

In [15]:
df['DOCNO'] = df['DOCNO'].astype('int')

ValueError: invalid literal for int() with base 10: ''

Ooooh hooo hooo. An error. What might this beastie be?

ValueError: invalid literal for int() with base 10: ''

Looks like there are some emtpy spaces and/or someone left a blank in the column. Luckily, this is Pandas. It was made for precisely this moment. I could, theoretically, write a for loop that would replace *''* with, well, anything I want. However, all I really need is to call Pandas' function *replace* and someone much better at optimization will take care of the matter for me.

First, I want Pandas to recognize empty spaces as a missing value. Basically, Pandas would really prefer that everything was just numbers. The library was created by some mad scientists, after all, and was never intended for historical research. It doesn't like to recognize things like *None* or a blank space as a missing value. But history is full of messy people doing messy things, so we have to allow as many types of missing values as possible.

In [16]:
pd.get_option("mode.use_inf_as_na")
pd.set_option("mode.use_inf_as_na", True)

OK, after some random sampling, it seems like df['DOCNO'] is full of strings that look like numbers to the human eye. Consider the very last such entry: df['DOCNO'][100665].

In [17]:
df['DOCNO'][100665]

'   363'

I want to remove ALL leading spaces.

In [18]:
df['DOCNO'][100665].strip()

'363'

But not just for that one entry. I want to do it for the entire column. There is, however, a slight problem. Observe this:

In [19]:
df['DOCNO'][1]

''

I want to use the Pandas' replace function to insert NaN into every empty space. The reason for this is quite simple. An empty space may or may not be interpreted as a missing value, but NaN will ALWAYS be interpreted as a missing value.

In [20]:
df['DOCNO'] = df['DOCNO'].replace('',np.NaN)

Pandas provides a method to check if I have empty values, as specified by NaN. It is the .isna() method.

In [21]:
df['DOCNO'].isna()

0          True
1          True
2          True
3          True
4          True
          ...
100661    False
100662    False
100663    False
100664    False
100665    False
Name: DOCNO, Length: 100666, dtype: bool

OK, now I know that Pandas recognizes my missing values as missing values. What next? Well, let's try converting the DOCNO column to a float. NaN is technically a float value, and while Pandas provides an int64 type that will allow me to use NaN, I'd rather just convert to a float for now. The Pandas methods should also strip all of those leading blank spaces away. Hopefully. If the processor gods are merciful.

In [22]:
df['DOCNO'] = df['DOCNO'].astype('float')

ValueError: could not convert string to float: 'fol.89'

And...it errored. Why? Well, here is the error.

ValueError: could not convert string to float: 'fol.89'

This seems to say that I have a string in the column that I didn't know about. Unfortunately, I've already half converted the column to floats, so using string methods doesn't work too well. I'm going to have to sort through the column, look at the type of the individual row, and then find what columns contain anything with 'fol' in it.

In [23]:
def mixed_type_search(offending_phrase, col):
    '''
    Takes a string, the offending phrase, and searches for it in an entire column.
    
    Returns a list of all variations containing that phrase.
    '''
    # list of offending phrases
    list_of_offense = []
    
    for elements in df[col]:       
        try:
            # We can only look at elements that are strings.
            if type(elements) == str and offending_phrase in elements and elements not in list_of_offense:
                list_of_offense.append(elements)
                
        except Exception as e:
            try:
                # This might go wrong. It shouldn't lead to an infinite loop, because the 
                # string conversion should make the offending value fail the test next go 
                # around.
                
                if type(elements) != str:
                    mixed_type_search(str(elements),col)
                    
            except:
                print("The offending phrase cannot be found due to type incompatibility")
                return False
    return list_of_offense

print(mixed_type_search('fol','DOCNO'))

['fol.89']

Based on these results, it seems like there is only one fol (folder? folio? who cares?). It should be replaced with just simply the number 89, provided the number 89 doesn't already exist in the column. We should check that to make sure we aren't going to merge data that should be distinct.

In [72]:
def does_value_already_exist(value, col, sub_value=None):
    '''
    Takes a value and returns whether the column specified in col already contains
    that value. Used to maintain unique data, such as in DOCNO.
    
    Value is used for longer strings such as 'fol.89'. But I want to check
    whether 89 is in the file, but excluding fol.89.
    '''
    str(value)
    str(col)
    
    # sub_value is optional so the method can be used with just one string
    if value in df[col] and sub_value == None:
        return True
    
    # exclusion logic
    elif value not in df[col] and sub_value != None:
        if sub_value in df[col] :
            return True
    return "Value is not in column already"

print(does_value_already_exist('fol.89', 'DOCNO','89'))

Value is not in column already

Based on the results of the method above, I'd say we're ok replacing fol.89 with 89.

In [73]:
df['DOCNO'] = df['DOCNO'].replace('fol.89',89)

Let's go back to our original goal of converting all of DOCNO to a float.

In [74]:
df['DOCNO'] = df['DOCNO'].astype('float')

ValueError: could not convert string to float: 'p.252'

Good heavens, another error.

ValueError: could not convert string to float: 'VIII'

This one, again, should be easy to fix. That's just the roman numeral 8. However, we need to check if doc 8 is already used.

In [75]:
does_value_already_exist('8', 'DOCNO')  # No need for optional parameter, as I 
                                        # only care if 8 exists as a document 
                                        # number

'Value is not in column already'

OK, I consider that clearance to just replace VIII with 8.

In [76]:
df['DOCNO']= df['DOCNO'].replace('VIII',8)

Time to try a float conversion again.

In [77]:
df['DOCNO'] = df['DOCNO'].astype('float')

ValueError: could not convert string to float: 'p.252'

And more errors. Honestly, it seems like this column could have been left a string. However, I also think imposing an obvious numbering system on the DOCNO column is important later on. Here's the error.

ValueError: could not convert string to float: 'p.252'

Let's see if it's around.

In [78]:
does_value_already_exist(252, 'DOCNO')

True

Well, that isn't good. There's already a document 252. Plus, that error message looks like a page number.

In [79]:
def search_for_string_in_column_entry(string, col):
    '''
    Takes a string and searches the given dataframe column for the string in a 
    cell of data. Then, returns a list of every location where string occurs.
    '''
    
    locations =  [[index, value] for index, value in df[col].items() if str(string) in str(value)]
   
    return locations

print(search_for_string_in_column_entry('.252','DOCNO'))

[[47281, 'p.252'], [47282, 'p.252'], [47283, 'p.252'], [47284, 'p.252']]

Based on these results, we can conclude that someone entered p.252 four times. But why? This seems increasingly like a page number. Is there more to the story? Maybe we should take a close look at each result.

In [80]:
for entries in search_for_string_in_column_entry('.','DOCNO'):
    print(df.iloc[entries[0]])

DOCDATE                                     1806-10-21 00:00:00
YEAR                                                       1806
DOCNO                                                     p.252
NOTARY                                       Sp. W. Fla Vol. XI
CODER                                                       1.0
                                    ...
ARRIVEDATE                                                 None
FROM
UNBAPT                                                      NaN
VIA                                                         NaN
COMMENTS      Overseer shot & killed slave, mistress (a wido...
Name: 47281, Length: 114, dtype: object
DOCDATE                                     1806-10-21 00:00:00
YEAR                                                       1806
DOCNO                                                     p.252
NOTARY                                       Sp. W. Fla Vol. XI
CODER                                                       1.0
                                    ...
ARRIVEDATE                                                 None
FROM
UNBAPT                                                      NaN
VIA                                                         NaN
COMMENTS      Overseer shot & killed slave, mistress (a wido...
Name: 47282, Length: 114, dtype: object
DOCDATE                                     1806-10-21 00:00:00
YEAR                                                       1806
DOCNO                                                     p.252
NOTARY                                       Sp. W. Fla Vol. XI
CODER                                                       1.0
                                    ...
ARRIVEDATE                                                 None
FROM
UNBAPT                                                      NaN
VIA                                                         NaN
COMMENTS      Overseer shot & killed slave, mistress (a wido...
Name: 47283, Length: 114, dtype: object
DOCDATE                                     1806-10-21 00:00:00
YEAR                                                       1806
DOCNO                                                     p.252
NOTARY                                       Sp. W. Fla Vol. XI
CODER                                                       1.0
                                    ...
ARRIVEDATE                                                 None
FROM
UNBAPT                                                      NaN
VIA                                                         NaN
COMMENTS      Overseer shot & killed slave, mistress (a wido...
Name: 47284, Length: 114, dtype: object
DOCDATE                                     1807-03-20 00:00:00
YEAR                                                       1807
DOCNO                                                      p. 1
NOTARY                                           SPWFLA Vol. 14
CODER                                                       1.0
                                    ...
ARRIVEDATE                                                 None
FROM
UNBAPT                                                      NaN
VIA                                                         NaN
COMMENTS      Will bequeathing 3 infant girl slaves to testa...
Name: 47619, Length: 114, dtype: object
DOCDATE                                     1807-03-20 00:00:00
YEAR                                                       1807
DOCNO                                                      p. 1
NOTARY                                           SPWFLA Vol. 14
CODER                                                       1.0
                                    ...
ARRIVEDATE                                                 None
FROM
UNBAPT                                                      NaN
VIA                                                         0.0
COMMENTS      Will bequeathing 3 infant girl slaves to testa...
Name: 47620, Length: 114, dtype: object
DOCDATE                                     1807-03-20 00:00:00
YEAR                                                       1807
DOCNO                                                      p. 1
NOTARY                                           SPWFLA Vol. 14
CODER                                                       1.0
                                    ...
ARRIVEDATE                                                 None
FROM
UNBAPT                                                      NaN
VIA                                                         NaN
COMMENTS      Will bequeathing 3 infant girl slaves to testa...
Name: 47621, Length: 114, dtype: object
DOCDATE                                     1807-03-20 00:00:00
YEAR                                                       1807
DOCNO                                                      p. 1
NOTARY                                           SPWFLA Vol. 14
CODER                                                       1.0
                                    ...
ARRIVEDATE                                                 None
FROM
UNBAPT                                                      NaN
VIA                                                         NaN
COMMENTS      Will bequeathing 3 infant girl slaves to testa...
Name: 47622, Length: 114, dtype: object
DOCDATE                                     1807-03-20 00:00:00
YEAR                                                       1807
DOCNO                                                      p. 1
NOTARY                                           SPWFLA Vol. 14
CODER                                                       1.0
                                    ...
ARRIVEDATE                                                 None
FROM
UNBAPT                                                      NaN
VIA                                                         NaN
COMMENTS      Will bequeathing 3 infant girl slaves to testa...
Name: 47623, Length: 114, dtype: object
DOCDATE                                     1807-12-19 00:00:00
YEAR                                                       1807
DOCNO                                                    p. 142
NOTARY                                      West Fla Papers XII
CODER                                                       1.0
                                    ...
ARRIVEDATE                                                 None
FROM
UNBAPT                                                      NaN
VIA                                                         NaN
COMMENTS      Power of Atty to Wm Barr & Samuel Power to rec...
Name: 49165, Length: 114, dtype: object
DOCDATE                                     1808-01-03 00:00:00
YEAR                                                       1808
DOCNO                                                    p. 222
NOTARY                                      Sp. W. Fla Vol. XII
CODER                                                       1.0
                                    ...
ARRIVEDATE                                                 None
FROM
UNBAPT                                                      1.0
VIA                                                         NaN
COMMENTS      Negro boy,bozal,just bought.Neck broken,brains...
Name: 49357, Length: 114, dtype: object
DOCDATE                                     1808-01-03 00:00:00
YEAR                                                       1808
DOCNO                                                    p. 222
NOTARY                                      Sp. W. Fla Vol. XII
CODER                                                       1.0
                                    ...
ARRIVEDATE                                                 None
FROM
UNBAPT                                                      1.0
VIA                                                         NaN
COMMENTS      Negro boy,bozal,just bought.Neck broken,brains...
Name: 49358, Length: 114, dtype: object
DOCDATE                                     1808-01-03 00:00:00
YEAR                                                       1808
DOCNO                                                    p. 222
NOTARY                                      Sp. W. Fla Vol. XII
CODER                                                       1.0
                                    ...
ARRIVEDATE                                                 None
FROM
UNBAPT                                                      1.0
VIA                                                         NaN
COMMENTS      Negro boy,bozal,just bought.Neck broken,brains...
Name: 49359, Length: 114, dtype: object
DOCDATE                                     1808-01-03 00:00:00
YEAR                                                       1808
DOCNO                                                    p. 222
NOTARY                                      Sp. W. Fla Vol. XII
CODER                                                       1.0
                                    ...
ARRIVEDATE                                                 None
FROM
UNBAPT                                                      1.0
VIA                                                         NaN
COMMENTS      Negro boy,bozal,just bought.Neck broken,brains...
Name: 49360, Length: 114, dtype: object
DOCDATE                                     1808-01-03 00:00:00
YEAR                                                       1808
DOCNO                                                    p. 222
NOTARY                                      Sp. W. Fla Vol. XII
CODER                                                       1.0
                                    ...
ARRIVEDATE                                                 None
FROM
UNBAPT                                                      1.0
VIA                                                         NaN
COMMENTS      Negro boy,bozal,just bought.Neck broken,brains...
Name: 49361, Length: 114, dtype: object
DOCDATE                                     1808-01-03 00:00:00
YEAR                                                       1808
DOCNO                                                    p. 222
NOTARY                                      Sp. W. Fla Vol. XII
CODER                                                       1.0
                                    ...
ARRIVEDATE                                                 None
FROM
UNBAPT                                                      1.0
VIA                                                         NaN
COMMENTS      Negro boy,bozal,just bought.Neck broken,brains...
Name: 49362, Length: 114, dtype: object
DOCDATE                                     1808-01-03 00:00:00
YEAR                                                       1808
DOCNO                                                    p. 222
NOTARY                                      Sp. W. Fla Vol. XII
CODER                                                       1.0
                                    ...
ARRIVEDATE                                                 None
FROM
UNBAPT                                                      1.0
VIA                                                         NaN
COMMENTS      Negro boy,bozal,just bought.Neck broken,brains...
Name: 49363, Length: 114, dtype: object
DOCDATE                                     1808-01-03 00:00:00
YEAR                                                       1808
DOCNO                                                    p. 222
NOTARY                                      Sp. W. Fla Vol. XII
CODER                                                       1.0
                                    ...
ARRIVEDATE                                                 None
FROM
UNBAPT                                                      1.0
VIA                                                         NaN
COMMENTS      Negro boy,bozal,just bought.Neck broken,brains...
Name: 49364, Length: 114, dtype: object
DOCDATE                                     1808-10-11 00:00:00
YEAR                                                       1808
DOCNO                                                    p. 131
NOTARY                                     Sp. W. Fla Vol. XIII
CODER                                                       1.0
                                    ...
ARRIVEDATE                                                 None
FROM
UNBAPT                                                      0.0
VIA                                                         NaN
COMMENTS      Robbed house, burned it, planned to run away t...
Name: 51120, Length: 114, dtype: object
DOCDATE                                     1808-10-11 00:00:00
YEAR                                                       1808
DOCNO                                                    p. 131
NOTARY                                     Sp. W. Fla Vol. XIII
CODER                                                       1.0
                                    ...
ARRIVEDATE                                                 None
FROM
UNBAPT                                                      0.0
VIA                                                         NaN
COMMENTS      Robbed house, burned it, planned to run away t...
Name: 51121, Length: 114, dtype: object
DOCDATE                                     1808-10-11 00:00:00
YEAR                                                       1808
DOCNO                                                    p. 131
NOTARY                                     Sp. W. Fla Vol. XIII
CODER                                                       1.0
                                    ...
ARRIVEDATE                                                 None
FROM
UNBAPT                                                      0.0
VIA                                                         NaN
COMMENTS      Robbed house, burned it, planned to run away t...
Name: 51122, Length: 114, dtype: object
DOCDATE                                     1808-10-11 00:00:00
YEAR                                                       1808
DOCNO                                                    p. 131
NOTARY                                     Sp. W. Fla Vol. XIII
CODER                                                       1.0
                                    ...
ARRIVEDATE                                                 None
FROM
UNBAPT                                                      0.0
VIA                                                         NaN
COMMENTS      Robbed house, burned it, planned to run away t...
Name: 51123, Length: 114, dtype: object
DOCDATE                                     1808-10-11 00:00:00
YEAR                                                       1808
DOCNO                                                    p. 131
NOTARY                                     Sp. W. Fla Vol. XIII
CODER                                                       1.0
                                    ...
ARRIVEDATE                                                 None
FROM
UNBAPT                                                      0.0
VIA                                                         NaN
COMMENTS      Robbed house, burned it, planned to run away t...
Name: 51124, Length: 114, dtype: object
DOCDATE                                     1808-10-11 00:00:00
YEAR                                                       1808
DOCNO                                                    p. 131
NOTARY                                     Sp. W. Fla Vol. XIII
CODER                                                       1.0
                                    ...
ARRIVEDATE                                                 None
FROM
UNBAPT                                                      0.0
VIA                                                         NaN
COMMENTS      "Civilized man." Robbed house, burned it, plan...
Name: 51125, Length: 114, dtype: object
DOCDATE                                     1808-10-11 00:00:00
YEAR                                                       1808
DOCNO                                                    p. 131
NOTARY                                     Sp. W. Fla Vol. XIII
CODER                                                       1.0
                                    ...
ARRIVEDATE                                                 None
FROM
UNBAPT                                                      0.0
VIA                                                         NaN
COMMENTS      Robbed house, burned it, planned to run away t...
Name: 51126, Length: 114, dtype: object
DOCDATE                                     1810-08-17 00:00:00
YEAR                                                       1810
DOCNO                                                    p. 242
NOTARY                                      Sp. W. Fla Vol. XII
CODER                                                       1.0
                                    ...
ARRIVEDATE                                                 None
FROM
UNBAPT                                                      NaN
VIA                                                         NaN
COMMENTS      Webb loaned this slave to his brother-in-law R...
Name: 56819, Length: 114, dtype: object

I suspect the DOCNO column, in these few cases, is meant to be a supplement to the Notary column. While I'm not sure what Sp. W. Fla Vol. XI precisely refers to (I'll have to dig into the older project's notes and source documents), it seems like the sort of thing that points to a book, which would incidentally have pages. So I'm going to transfer the DOCNO information to the Notary column.

First, create a variable to store the indices AND values we want transferred.

In [81]:
need_transfer_index_values = search_for_string_in_column_entry('.','DOCNO')
need_transfer_index_only = [index for index, values in need_transfer_index_values]

Now transfer the values in need_transfer over to the column 'NOTARY' and insert a -1 in column 'DOCNO'.

In [82]:
df['NOTARY'].iloc[47281]

'Sp. W. Fla Vol. XI'

In [83]:
def transfer_and_replace_col(new_col, old_col, new_value, indices):
    '''
    Transfers the values in old_col into new_col, replacing old_col with the new_value.
    '''
    for index in indices:
        df[new_col].iloc[index] = df[new_col].loc[index] + ' ' + df[old_col].loc[index]
        df[old_col].loc[index] = new_value
        

transfer_and_replace_col('NOTARY', 'DOCNO', -1, need_transfer_index_only)

c:\users\casti\appdata\local\programs\python\python38\lib\site-packages\pandas\core\indexing.py:1637: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_block(indexer, value, name)

In [84]:
df['NOTARY'].loc[need_transfer_index_only]

47281       Sp. W. Fla Vol. XI p.252
47282       Sp. W. Fla Vol. XI p.252
47283       Sp. W. Fla Vol. XI p.252
47284       Sp. W. Fla Vol. XI p.252
47619            SPWFLA Vol. 14 p. 1
47620            SPWFLA Vol. 14 p. 1
47621            SPWFLA Vol. 14 p. 1
47622            SPWFLA Vol. 14 p. 1
47623            SPWFLA Vol. 14 p. 1
49165     West Fla Papers XII p. 142
49357     Sp. W. Fla Vol. XII p. 222
49358     Sp. W. Fla Vol. XII p. 222
49359     Sp. W. Fla Vol. XII p. 222
49360     Sp. W. Fla Vol. XII p. 222
49361     Sp. W. Fla Vol. XII p. 222
49362     Sp. W. Fla Vol. XII p. 222
49363     Sp. W. Fla Vol. XII p. 222
49364     Sp. W. Fla Vol. XII p. 222
51120    Sp. W. Fla Vol. XIII p. 131
51121    Sp. W. Fla Vol. XIII p. 131
51122    Sp. W. Fla Vol. XIII p. 131
51123    Sp. W. Fla Vol. XIII p. 131
51124    Sp. W. Fla Vol. XIII p. 131
51125    Sp. W. Fla Vol. XIII p. 131
51126    Sp. W. Fla Vol. XIII p. 131
56819     Sp. W. Fla Vol. XII p. 242
Name: NOTARY, dtype: string

In [85]:
df['DOCNO'].loc[need_transfer_index_only]

47281    -1
47282    -1
47283    -1
47284    -1
47619    -1
47620    -1
47621    -1
47622    -1
47623    -1
49165    -1
49357    -1
49358    -1
49359    -1
49360    -1
49361    -1
49362    -1
49363    -1
49364    -1
51120    -1
51121    -1
51122    -1
51123    -1
51124    -1
51125    -1
51126    -1
56819    -1
Name: DOCNO, dtype: object

I will have to record somewhere that document number -1 is a transfer to the notary column. Now that we have removed the page numbers, it's time to actually convert everything to a float in the DOCNO column.

In [86]:
df['DOCNO'] = df['DOCNO'].astype('float')

One of the things about hindsight in data analysis and software engineering is that when you can modularize and abstract your ideas, they appear both timeless and obvious. In reality, I manually changed a lot of values because I wasn't sure what the data looked like. Then I wrote a few prototype methods to automate the manual corrections. Now, I have a must more elegant solution that doesn't require nearly so much manual work or so much code. That being said, it should be noted that several hours of work, and several methods under development, have been essentially erased from this notebook. Which is cool, I suppose.

I went to a lot of work to get DOCNO cleaned. Being a lazy son of a bitch, I decided to write a method that would attempt to do this for me and handle a few of the more common exceptions. Whether I wasted my time reinventing the wheel is undecided.

In [88]:
def replace_and_cast(type_data, col):
    '''
    Takes a type and attempts to cast a column as that type. If this errors, it 
    attempts to replace the offending data as a sequence of decreasing negative
    numbers.
    '''
    try:
        if type_data == 'float':
            df[col] = df[col].astype('float')
        elif type_data == 'int':
            df[col] = df[col].astype('int')
        elif type_data == 'string':
            df[col] = df[col].astype('string')
        elif type_data == 'date':
            df[col] = pd.to_datetime(df[col])
        else:
            df[col] = df[col].astype('string')
        return True
    except Exception as e:
        message = str(e)
        if 'p.' in message:
            print("It seems like there are page numbers in a column you want to cast as a float or int.")
            new_col = input("What column should page numbers be transferred to?")
            new_reference = input("What should be the new value in your current column?")
            transfer_and_replace(new_col, col, new_reference, [index for index, value in search_for_string_in_column_entry('.','DOCNO')])
        return message

The above method will probably be most useful for further development of the project with new datasets. Nonetheless, I am going to continue on with the current dataset. As a reminder, we still have a few columns that should NOT be strings.

In [89]:
not_strings

['DOCNO', 'ARRIVEDATE', 'AGE', 'DATESALE', 'DATEINV']

Now, however, all of the manual cleaning can be accomplished by the replace_and_cast method. As you can see, I was able to cast the ARRIVEDATE column as a date without any fuss.

In [90]:
print(replace_and_cast('date','ARRIVEDATE'))

True

In [91]:
df['ARRIVEDATE'].dtype

dtype('<M8[ns]')

Things got a bit trickier with the AGE column.

In [92]:
print(replace_and_cast('int','AGE'))

Cannot convert non-finite values (NA or inf) to integer

However, the solution here is to remember that the NaN character is a float.

In [93]:
df['AGE'] = df['AGE'].fillna("NaN")

In [94]:
df['AGE'] = df['AGE'].astype('float')

In [95]:
df['AGE'].dtype

dtype('float64')

There was one final issue with the DATEINV and DATESALE columns. This was one of those fascinating errors that honestly tells me a lot about the prejudices (probably unintentional) of the developers of Pandas. See, as I've said before, the library was developed for scientific and mathematical computation. Data scientists use it for non-numeric data, but generally for contemporary data for tech companies selling ad revenue to oligarchies. It probably never occurred to the developers that Pandas could be used to study, say, the 14th century.

Time is currently recorded in Pandas as a record of nanoseconds preceding from a specific point. I believe this is the same as the generic system time used in Unix computers, which point to 1 January, 1970 as "Day 0". Once you begin counting forwards form 1970, Pandas keeps track of where you are, and converts between different dates, based on the number of nanoseconds since 1 January, 1970. The same is true but in reverse when going backwards.

The developers of Pandas generously gave the nanosecond parameter a 64 bit integer length. This means that there are 9,223,372,036,854,775,808 possible nanoseconds that you can proceed into the past. That's actually one more nanosecond that you can proceed into the future, because 0 is considered a future nanosecond. This is a total of 292 years of backwards compatibility. Due to some clever maths, you can extend this to 584 years. And then the computer remembers that 584 years is a really, really big number when counted in nanoseconds, and runs out of memory.

For those who remember the fears about Y2K, it's like that. But, this time, it doesn't really matter so long as we tell the computer it is ok to count the years in a different way. For this project, I'm able to assume that any date before 1719 is invalid. Slaves didn't appear in Louisiana before 1719. Even if I were to extend the project to "Anyone of Eurasian or African descent" I would only be getting dates in the very late 1400s. 584 years ago was before Europeans realized North America existed. So, for now, I can safely assume that any data older than 1700 is in error.

In the below method, I simply add 1000 years to any date from before 1700. I'll have to change that year for states like Virginia, of course, which had the first slaves land in 1619. 

An example of the DATESALE error is below. DATESALE seems to have a far simpler solution than DATEINV. Simply put, someone keyed in a 1404 when they meant 1804.

In [96]:
df['DATESALE'] = pd.to_datetime(df['DATESALE'])

The DATESALE table can be seen below. I've selected only the columns with dates older than 1700. Notice that althouth the DATESALE date is 1404, the DOCDATE is 1804. This looks like input error.

In [97]:
datesale_problems = [index for index, value in df['DATESALE'].items() if value is not None and value < pd.to_datetime('1701-01-01')]

In [99]:
df.iloc[datesale_problems]

Empty DataFrame
Columns: [DOCDATE, YEAR, DOCNO, NOTARY, CODER, DATEINV, DATESALE, DEPOT, PARISH, LOCATION, DOCTYPE, REVOLTS, MAROON, LANGUAGE, LINGUISTIC, ESTFREE, FREE, ESTATE_OF, FIRSTNAME, ESTATE, ESTATEPOP, SELLER, FIRST1, BUYER, FIRST2, WENT, NAMEXPLAIN, NAME, NAMETYPE, ISLAMIC, SEX, RACE, AGE, AGECATN, SKILLS, SKILLCAT, EXPERT, APPRENTICE, ALITTLE, SKILL2, SKILL3, SKILL4, SKILL5, CHARACTER, CHARCAT, CHARCAT2, CHARCAT3, SICK, SICKCAT, SICK2, SICK3, SICK4, SPELL, BIRTHPL, AFLANG, BRUT, GROUP, GROUPMEMB, INVCUR, INVVALUE, INVVALP, SALECUR, SALEVALUE, SALEVALP, FAMILY_Y_N, FAMILY, CHILDREN, MALE, FEMALE, UNDER5, PREGNANT, MOTHER, AGEMOM, RACEMOM, INVWMOM, SOLDWMOM, SPNATMOM, ORMOM, MATE, MATENAME, AGEMATE, AGECATMATE, RACEMATE, SPELNAMATE, ORIGINMATE, FATHER, AGEDAD, RACEDAD, SPNADAD, ORDAD, GRANDCHILD, GRANDSONS, GDAUGHTERS, GRANDMA, AGEGRANDMA, SPNAGM, ORGRANDMA, GRANPA, AGEGRANDPA, SPNAGRPA, ...]
Index: []

[0 rows x 114 columns]

The simplest solution here would be to replace the dates in the DATESALE column with those in the DOCDATE column.

In [100]:
def change_col_to_col_dates(from_col, to_col, limit_date):
    '''
    Changes the to_col values to match those of the from_col
    
    Only used for datetime objects
    '''
    for index, value in df[to_col].items():
        if value is None or value < pd.to_datetime(limit_date):
        
            df[to_col].iloc[index] = df[from_col].iloc[index]

In [101]:
change_col_to_col_dates('DOCDATE', 'DATEINV', '1701-01-01')

In [43]:
change_col_to_col_dates('DOCDATE', 'DATESALE', '1701-01-01')

In [48]:
df.iloc[0]
df.iloc[0]

DOCDATE                                     1719-06-15 00:00:00
YEAR                                                       1719
DOCNO                                                       NaN
NOTARY
CODER                                                       1.0
                                    ...
ARRIVEDATE                                           1719-06-15
FROM                                       Juda (Bight of Benin
UNBAPT                                                      NaN
VIA                                                         NaN
COMMENTS      One of first two ships. June 1719 arrival date...
Name: 0, Length: 114, dtype: object

In [49]:
df.iloc[0]

DOCDATE                                     1719-06-15 00:00:00
YEAR                                                       1719
DOCNO                                                       NaN
NOTARY
CODER                                                       1.0
                                    ...
ARRIVEDATE                                           1719-06-15
FROM                                       Juda (Bight of Benin
UNBAPT                                                      NaN
VIA                                                         NaN
COMMENTS      One of first two ships. June 1719 arrival date...
Name: 0, Length: 114, dtype: object

In [61]:
df['DATESALE'] = df['DATESALE'].reset_index()

In [62]:
df['DATESALE'] = pd.to_datetime(df['DATESALE'])

In [64]:
df['DATEINV'] = df['DATEINV'].reset_index()
df['DATEINV'] = pd.to_datetime(df['DATEINV'])

In [65]:
df['DATEINV'].dtype

dtype('<M8[ns]')

In [66]:
df['DATESALE'].dtype

dtype('<M8[ns]')

In [67]:
df.dtypes

DOCDATE       datetime64[ns]
YEAR                   int64
DOCNO                 object
NOTARY                string
CODER                float64
                   ...
ARRIVEDATE            object
FROM                  string
UNBAPT               float64
VIA                  float64
COMMENTS              string
Length: 114, dtype: object

Pandas has a generic 'object' type. This is usually bad, since it can mean mixed types of data. Let's make sure there's no data with the 'object' type.

In [102]:
for col in df:
    if df[col].dtype == 'object':
        print(col)

In [105]:
def print_entries():
    '''
    Print out the names of all columns in the dataframe
    '''
    return [entries for entries in df]

list_of_entries = print_entries()

Let's get a handle on each of these columns.

In [106]:
list_of_entries[0]

'DOCDATE'

What can we learn about DOCDATE? Well, for one thing, we should probably know if there are undated documents.

In [137]:
blank_docdates = [value for index, value in df['DOCDATE'].items() if value == "NaN"]

In [138]:
blank_docdates

[]

Looks like we don't really have any blank dates in DOCDATE. That's a good sign. It's the column we are relying on for all of the other dates. Let's see if we can get an idea of how evenly documents are distributed over the time period. Actually, first, let's see our maximum and minimum dates so we know what time period we are dealing with.

In [140]:
docdate = df['DOCDATE']

In [141]:
docdate.max()

Timestamp('1820-12-31 00:00:00')

So, the data ends in 1820. It ends strangely enough on the 31st of December, leading me to wonder why records stop.

In [142]:
docdate.min()

Timestamp('1719-06-15 00:00:00')

The beginning of the period, then, is 1719. We are exploring 101 years of slavedealing history. But as with most things in history, there's a slight problem. What happens if we take the median of DOCDATE?

In [144]:
docdate.median()

Timestamp('1808-05-04 00:00:00')

The median is the point where 50% of the documents are dated before and 50% dated after the median date. What, then, is the median date? 1808. 50% of the slaveholding documents were produced in 12 years, and 50% in 89 years.

In [146]:
docdate.mode()

0   1786-12-31
dtype: datetime64[ns]

Strangely enough, the most common DOCDATE entry is 1786-12-31. How many such docdate entries exist?

In [154]:
def search_for_value(series, desired):
    counter = 0
    for index, value in series.items():
        if value == desired:
            counter += 1
    return counter

In [157]:
search_for_value(docdate, pd.to_datetime('1786-12-31'))

957

WOAH! 957 different records come from 1786, on the last day of the year. I have no clue why, at the moment. This points to some very strange issues with the data. How many records are clustered on a given day?

In [170]:
docdate_occurrences = docdate.value_counts().astype('int')

In [174]:
docdate_occurrences.median()

4.0

Based on the median value in the occurrences column, I can conclude that most of these documents record small transactions. This is, I suppose, not very surprising. I would suspect most slaveholding transactions were oddly personal for something so dehumanizing. Probably if you plotted the sale of dogs or cows even in the present day you'd see the same disparity between small transactions and gigantic transactions.

Let's get a good look at these larger and smaller transactions by separating them out.

In [181]:
sub_five = []
five_above = []
for index, values in docdate_occurrences.items():
    if values < 5:
        sub_five.append(values)
    else:
        five_above.append(values)
below_five = pd.Series(sub_five)

In [182]:
above_four = pd.Series(five_above)

In [183]:
below_five

0       4
1       4
2       4
3       4
4       4
       ..
6378    1
6379    1
6380    1
6381    1
6382    1
Length: 6383, dtype: int64

In [184]:
above_four

0       957
1       597
2       500
3       464
4       451
       ...
4904      5
4905      5
4906      5
4907      5
4908      5
Length: 4909, dtype: int64

There are 4,908 discrete dates and documents with above five listings. Meanwhile, there are  6,383 discrete dates and documents with below four listings. This means there are really quite a few more small transactions. I suspect there are simply a few enormous transactions and a bunch of small to medium transactions. Let's further divide the group of above five transactions.

In [185]:
above_four.median()

10.0

Now we can tell that half of the 4,908 records in the above four group are in the 5-10 humans being sold range. As suspected, there are still small transactions being listed with the enormous ones.

In [202]:
sub_eleven = []
eleven_or_greater = []
for index, values in docdate_occurrences.items():
    if values < 11:
        sub_eleven.append(values)
    else:
        eleven_or_greater.append(values)
below_eleven = pd.Series(sub_eleven)
eleven_above = pd.Series(eleven_or_greater)

In [205]:
below_eleven.median()

3.0

In [206]:
eleven_above.median()

18.0

In [207]:

eleven_above

0       957
1       597
2       500
3       464
4       451
       ...
2368     11
2369     11
2370     11
2371     11
2372     11
Length: 2373, dtype: int64

At what point does the sale of human beings become a large transaction? 10 humans? 100 humans? Somehow, I know I'm groping for some sort of manageable scale but I have to remember that these are human beings whose data I'm playing with. 2,373 people were sold in lots of 11 or more. This is both morally equivalent to selling them in lots of 1, and also somehow worse. But there is a part of me that thinks that sales in excess of 50 or 100 are even more horrendous. I feel like I can keep slicing up these transactions by the median, but the truth is that eventually I have to stop. I choose to stop when the median number of humans sold is 50. My mind can't really understand what it is like to line 50 human beings up and sell them like a horse. I'm not even sure I can imagine selling the horses like that.

In [211]:
sub_eighteen = []
eighteen_or_greater = []
for index, values in docdate_occurrences.items():
    if values < 18:
        sub_eighteen.append(values)
    else:
        eighteen_or_greater.append(values)
below_eighteen = pd.Series(sub_eighteen)
eighteen_above = pd.Series(eighteen_or_greater)

In [212]:
below_eighteen.median()

3.0

In [213]:
eighteen_above.median()

28.0

In [214]:
sub_28 = []
twentyeight_or_greater = []
for index, values in docdate_occurrences.items():
    if values < 28:
        sub_28.append(values)
    else:
        twentyeight_or_greater.append(values)
below_twentyeight = pd.Series(sub_28)
twentyeight_above = pd.Series(twentyeight_or_greater)

In [215]:
below_twentyeight.median()

3.0

In [216]:
twentyeight_above.median()

43.0

In [217]:
twentyeight_above

0      957
1      597
2      500
3      464
4      451
      ...
671     28
672     28
673     28
674     28
675     28
Length: 676, dtype: int64